@charset "UTF8";

body {
    background-color: rgb(207, 229, 213);
    font-size: 16px;
    color:#500b49;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
a{
    color:#500b49;
}
a:visited{
    color:#2b0327;
}
h1{
    text-align: center;
    padding-top: 20px;
}
#documento{
    margin: 0 auto;
    background-color: #eedaee;
    width: 700px;
    box-shadow: 10px 14px 60px #2b0327;
   
    
}
#cabecera{
    background-color: #14e737;
    padding: 5px;
}
#cabecera #logo{
    width: 75px;
    height: 50px;
}

#cabecera #titulo{
    font-size: 1.3em;
    font-style: italic;
}
#barraMenu{
    border: 2px, #b876ae dotted;
}
#barraUbicacion{
    background-color: rgb(255, 243, 255);
    color:brown;
}
.boton{
    background-color: blue;
    color:white;
    border:thin black solid;
}

.boton a{
    text-decoration: none;
    color:white;
}

.boton a:visited{
    text-decoration: none;
    color:white;
}

.boton a:hover{
    background-color:cyan;
    color: black;
}

.boton:hover{
    background-color:cyan;
    color: black;
}

.tabla{
    width: 100%;
    border-collapse: collapse;
    border: none;
    background-color: white;
}

.tabla th{
    background-color: teal;
    color: blue;
}
.tabla tr.par{
    background-color: black;
    color: white;
    
}

/* .tabla tr.impar{
    
} */

#pie{
    background-color: #81e714;
    color: blue;
    font-size: 1.5 em;
    padding: 5px;
}

.for_texto{
    border:blue thin solid;
    background-color: white;
    padding: 2px;
    margin:2px;
    border-radius: 4px;
}
.error{
    background-color: white;
    color:red;
    border:thin solid red;
    padding:5px;
}
